@use "./_mixins.scss" as *;
#root {
  width: 100%;
}

.main {
  background-color: #000;
  color: #fff;
  font-size: 16px;
}
.secion-title {
  font-size: 50px;

  @include mobile {
    font-size: 30px;
  }
}
