@use "./_variables.scss" as *; // 변수 가져오기

// Flex 정렬 단축키
@mixin flex($direction: null, $justify: null, $align: null) {
  display: flex;

  // $justify 값이 null이 아닐 때만 출력
  @if $justify != null {
    justify-content: $justify;
  }

  // $align 값이 null이 아닐 때만 출력
  @if $align != null {
    align-items: $align;
  }

  // $direction 값이 null이 아닐 때만 출력
  @if $direction != null {
    flex-direction: $direction;
  }
}

// 말줄임표 (...)
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 모바일/태블릿 미디어쿼리 단축키
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
