@use "variables" as *; // 변수 가져오기

// Flex 정렬 단축키
@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// 말줄임표 (...)
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 모바일/태블릿 미디어쿼리 단축키
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
