@use "./_variables.scss" as *; // 변수 가져오기

@mixin flex($justify: null, $align: null, $direction: null) {
  display: flex;

  // 값이 있을 때만 코드를 생성함 (CSS 용량 최적화)
  @if $justify != null {
    justify-content: $justify;
  }

  @if $align != null {
    align-items: $align;
  }

  @if $direction != null {
    flex-direction: $direction;
  }
}

/* 수직 중앙 정렬만 필요할 때 */
@mixin flex-align {
  display: flex;
  align-items: center;
}

/* 정중앙 정렬 */
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 양옆으로 벌릴 때 */
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

// 말줄임표 (...)
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 모바일/태블릿 미디어쿼리 단축키
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
