@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // 필수!
}

body {
  font-family: $font-main;
  color: $color-black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}
