@use "./mixins" as *;

.main-visual {
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: #fff;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h2 {
      font-size: 80px;
      font-weight: 900;
      line-height: 1.1;
      white-space: nowrap;
      margin: 0;
    }
  }

  @include mobile {
    .text-wrap h2 {
      font-size: 40px;
    }
  }
}
