@use "./mixins" as *;

.main-visual {
  width: 100%;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  @include flex(center, center);

  .text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h2 {
      font-size: 80px;
      font-weight: 900;
      line-height: 1.1;
      white-space: nowrap;
      margin: 0;
      color: #fff;

      &:nth-child(1) {
        background: linear-gradient(to right, #4ecdc4, #44a8d8);

        // 이 속성들이 여기에 있어야, 첫 줄만 잘리고 투명해집니다.
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }
    }
  }

  @include mobile {
    .text-wrap h2 {
      font-size: 40px;
    }
  }
}
