@use "./mixins" as *;

.main-visual {
  width: 100%;
  height: 100vh; // 화면 꽉 차게

  position: relative;
  z-index: 10; // 높은 숫자 부여
  background-color: #111;
  color: #fff;
  overflow: hidden; // 커진 글자가 화면 밖으로 나가도 스크롤 안 생기게
  position: relative;

  // 2. 내용물 정중앙 배치 (Flex)
  display: flex;
  justify-content: center;
  align-items: center;

  // 3. 텍스트 껍데기
  .text-wrap {
    display: flex;
    flex-direction: column; // 세로 정렬
    align-items: center; // 가운데 정렬
    gap: 10px; // 글자 사이 간격
    visibility: visible;
    h2 {
      font-size: 80px; // PC 폰트 크기
      font-weight: 900;
      line-height: 1.1;
      white-space: nowrap; // 줄바꿈 .main-visual .text-wrap금지
      margin: 0; // 기본 마진 제거
    }
  }

  // 5. 모바일 대응
  @include mobile {
    .text-wrap h2 {
      font-size: 40px; // 모바일에선 작게
    }
  }
}
