// 변수와 믹스인 (가장 먼저)
@use "./variables";
@use "./mixins";

// default
@use "./reset";
@use "./_base.scss";

// 유틸리티 (마지막에 덮어쓰기 위해)
@use "./utils";

// component
@import url(./Header.scss);
@import url(./MainVisual.scss);
@import url(./About.scss);
@import url(./ProjectList.scss);
@import url(./Contact.scss);
